.inchecken {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: .5em;
}

.knop {
    /* grid-area: -1 / 1 / 4 / -1; */
    grid-column: 1 / 3;
    font-size: 15px;
    margin-top: 1em;
}